option_settings:
  aws:elasticbeanstalk:environment:
    EnvironmentType: LoadBalanced
    ServiceRole: AWSElasticBeanstalkServiceRole
  aws:elasticbeanstalk:environment:process:
    UseLaunchTemplates: true
  aws:autoscaling:launchconfiguration:
    IamInstanceProfile: "aws-elasticbeanstalk-ec2-role"
    InstanceType: "t2.micro" # or your preferred instance type
    RootVolumeType: gp3  # This line ensures Elastic Beanstalk uses Launch Templates
